.name-page {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--textcolor);
}

.status-room {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.status-room .card {
    width: 115px;
    text-align: center;
}

.status-room  .card .card-header {
    background-color: #ffdda1 !important;
}

.card-data-room {
    margin: 40px;
}

.card-data-room {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    gap: 10px;
    text-align: center;
    align-items: center;
    z-index: -1;
}

.card-data-room .card {
    border: 1px solid var(--border-content) !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.card-data-room .card {
    width: 120px;
}

.card-data-room .card .card-header {
    padding: none !important;
}

.card-body {
    height: 100px;
}
