.bill {
    margin: 15px;
}

.bill p {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--textcolor);
}

.bill .table-bg {
    position: absolute;
    left: 20%;
    background-color: white;
    width: 60% !important;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
    z-index: 0;
}

.bill .table {
    width:80% !important;
}


.payment-bill p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

.modal-body p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

.bill .search-data {
    display: flex;
    flex-direction: row;
    gap: 5px;
}





