.Data-renters p {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--textcolor);
}

.Data-renters .btns{
 margin-left: 20%;
 margin-bottom: 10px;
}

.table-bg {
    position: absolute;
    left: 20%;
    background-color: white;
    width: 60% !important;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
}

.up-file {
    display: flex;
    justify-content: space-evenly;
}

.up-file1 {
    display: flex;
    flex-direction: column;
}

.up-file2 {
    display: flex;
    flex-direction: column;
}

.up-file .up-file1 .form-control {
    width: 75%;
}

.up-file .up-file2 .form-control {
    width: 75%;
}

img {
    border-radius: 0 !important;
}




