.name-page p {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--textcolor);
}

.card-meter {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    gap: 10px;
    text-align: center;
    align-items: center;
    z-index: -1;
}

.card-meter .card {
    width: 120px ;
}

.card-meter .card .card-header {
    padding: none !important;
}


