.report {
    margin: 15px;
}

.report p {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--textcolor);
}

.table-bg {
    position: absolute;
    left: 20%;
    background-color: white;
    width: 60% !important;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
    z-index: 0;
}

.table-bg::-webkit-scrollbar {
 display: none;
}

.table {
    width:80% !important;
}

.status-report {
    background-color:#dc3545;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
