.room {
    margin: 15px;
}

.setlink{
    color: white !important;
}

.dataroom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.room .dataroom .card {
    width: 115px;
    text-align: center;
}

.btns-sub-close {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.input-group-text {
    background-color: #ffdda1;
}

.dataroom .card .card-header {
    background-color: #ffdda1 !important;
}

.dataroom .card {
    border: 1px solid var(--border-content) !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.card-data-room {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    gap: 10px;
    text-align: center;
    align-items: center;
    z-index: -1;
}

.card-data-room .card {
    width: 120px ;
}

.card-data-room .card .card-header {
    padding: none !important;
}

